<!-- <embed src={{pdf_path}} width="100%" height="600px" /> -->
{{#if mobile}}
    <div class="container">
        <div class="jumbotron my-5 center">
            <p class="lead">Impossibile visualizzare pdf</p>
            <p>Il tuo dispositivo non supporta il 
            visualizzatore di pdf, puoi comunque scaricare
            il pdf 
            <a href={{pdf_path}} target='_blank'>cliccando qui</a></p>
        </div> 
    </div>
{{else}}
    <object data={{pdf_path}} type="application/pdf" width="100%" height="700px">
        <div class="container">
            <div class="jumbotron my-5 center">
                <p class="lead">Impossibile visualizzare pdf</p>
                <p>Il tuo dispositivo non supporta il 
                visualizzatore di pdf, puoi comunque scaricare
                il pdf 
                <a href={{pdf_path}} target='_blank'>cliccando qui</a></p>
            </div> 
        </div>
    </object>
{{/if}}

<!-- 
<div class="container d-none d-sm-block">
    <img class="img-fluid" src={{img_path}} />
</div>
<img class="img-fluid d-block d-sm-none" src={{img_path}} />
-->